<h1>Comedians</h1>
<h2>Add a New Comedian</h2>
<form action="/comedians" method="post">
  <input type="text" name="comedian[name]" placeholder="Name" />
  <input type="text" name="comedian[age]" placeholder="Age" />
  <input type="text" name="comedian[city]" placeholder="City" />
  <input type="submit" value="Submit" />
</form>