body {
  background-image: linear-gradient(to top right, #003049, #54f2f2);
  background-repeat: no-repeat;
  background-size: cover;
  color: #003049;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  margin: 0;
  min-height: 100vh;
}
h1 {
  font-size: 80px;
  font-weight: bold;
}
h2 {
  font-size: 50px;
  padding-bottom: 10px;
}
h3 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 15px;
}
h1, h2, h3 {
  text-shadow: 2px 2px 0 rgba(255,255,255,0.5);
}
h6 {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #003049;
}
a:hover {
  color: #d62828
}
header {
  width: 100%;
  margin: 0;
  font-size: 150%;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
}

#statistics blockquote, cite {
  padding-bottom: 10px;
  font-size: 120%
}
#statistics cite {
  display: block;
  margin-bottom: 10px;
}
table, th, td {
  padding: 5px;
  text-align: center;
}
th {
  font-weight: bold;
  width: 25%;
}
.container {
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-thumbnail {
  height: 150px;
}

.comedian {
  flex-basis: 350px;
  flex-grow: 1;
  background-image: linear-gradient(to top left, #f77f00, #f4e04d);
  border: 1px solid black;
  margin: 20px;
  padding: 15px 0;
}
.comedian a {
  color: #003049;
}
.comedian-stats {
  text-align: center;
}

.specials {
  margin: 0 30px;
}

.new {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.new, #statistics {
  background: #f4e04d;
  padding: 40px;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
}
