<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- <link rel="stylesheet" href="css/bootstrap-reboot.css" />
   <link rel="stylesheet" href="css/bootstrap.css" /> -->
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="custom.css" />
   <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
    </div>
  </body>
</html>